/ {
    chosen {
        // 告诉 ZMK 使用我们的 kscan 驱动
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        // 使用“按键直连”驱动
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";

        // 直接列出所有按键连接的引脚
        // 这里我们为你仅有的两个按键分配了两个合法的引脚
        gpios = <&pro_micro 47 (GPIO_ACTIVE_HIGH)>, // 第一个按键
                <&pro_micro 2  (GPIO_ACTIVE_HIGH)>;  // 第二个按键
    };
};